#errr {
    width: 100%;
    height: 26px;
    background-color: rgb(221, 214, 214);
    margin-bottom: 8px;
    line-height: 26px;
    padding-left: 7px;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 500;
    color: #e93434;
}
#errr-ad {
    width: 93%;
    height: 26px;
    background-color: rgb(221, 214, 214);
    margin-bottom: 2px;
    margin-left: 14px;
    line-height: 26px;
    padding-left: 7px;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 500;
    color: #e93434;
}
.not-found {
    margin-left: 20px;
    margin-top: 5px;
}
.not-found p {
    font-size: 16px;
}
#sbm {
    margin-top: 10px;
    height: 30px;
}
#inpt {
    width: 85%;
}
#sbmt {
    margin-left: 5px;
    width: 15%;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #e07070;
    color: white;
}
.form-contain {
    display: flex;
}
#no-decoration {
    text-decoration: none;
    color: rgb(240, 101, 101);
}
#no-decoration:hover {
    color: rgba(247, 36, 36, 1);
}
#del-btn {
    background-color: #9b9999;
    border-color: #9b9999;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .btn-7 {
    background: linear-gradient(0deg, rgba(240, 75, 75, 1) 0%, rgba(247, 36, 36, 1) 100%);
      line-height: 42px;
      padding: 0;
      border: none;
    }
    .btn-7 span {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      font-size: 16px;
      font-weight: 500;
    }
    .btn-7:before,
    .btn-7:after {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      background: rgba(251,75,2,1);
      box-shadow:
       -7px -7px 20px 0px rgba(255,255,255,.9),
       -4px -4px 5px 0px rgba(255,255,255,.9),
       7px 7px 20px 0px rgba(0,0,0,.2),
       4px 4px 5px 0px rgba(0,0,0,.3);
      transition: all 0.3s ease;
    }
    .btn-7:before{
       height: 0%;
       width: 2px;
    }
    .btn-7:after {
      width: 0%;
      height: 2px;
    }
    .btn-7:hover{
      color: rgba(251,75,2,1);
      background: transparent;
    }
    .btn-7:hover:before {
      height: 100%;
    }
    .btn-7:hover:after {
      width: 100%;
    }
    .btn-7 span:before,
    .btn-7 span:after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      background: rgba(251,75,2,1);
      box-shadow:
       -7px -7px 20px 0px rgba(255,255,255,.9),
       -4px -4px 5px 0px rgba(255,255,255,.9),
       7px 7px 20px 0px rgba(0,0,0,.2),
       4px 4px 5px 0px rgba(0,0,0,.3);
      transition: all 0.3s ease;
    }
    .btn-7 span:before {
      width: 2px;
      height: 0%;
    }
    .btn-7 span:after {
      height: 2px;
      width: 0%;
    }
    .btn-7 span:hover:before {
      height: 100%;
    }
    .btn-7 span:hover:after {
      width: 100%;
    }  

.form-control {
    height: 30px !important;
    font-size: 13px !important;
}
.btn-search {
    height: 30px !important;
    font-size: 13px !important;
}
.button.four:before, .button.four:after{
    content: '';
    position: absolute; 
    width: 0%;
    height: 100%;
    border-bottom: 2px solid rgba(251,75,2,1);
    transition: width 0.3s ease;
  }
  
  .button.four:before{
    bottom: 0;
    right: 50%;
  }
  .button.four:after{
    bottom: 0;
    left: 50%;
  }
  .button.four:hover:after, .button.four:hover:before{
    width: 40%;
    transition: width .2s ease;
  }
  #no-deco {
    text-decoration: none;
  }