.btn-success {
    height: 32px !important;
    width: 120px !important;
    font-size: 12px !important;
    line-height: 25px !important;
}
.btn1 {
    margin-left: 6px !important;
}
.tbl {
    margin-top: 10px;
}
thead {
    height: 30px !important;
}
thead tr th {
    padding-left: 6px !important;
    padding-top: -20px !important;
    height: 20px !important;
}
#nav-prev {
    text-decoration: none;

}
#success-admin {
    margin-top:6px;
    margin-bottom: 6px;
    background-color: rgb(128, 235, 128);
    width: 100%;
    padding: 5px;
    font-weight: 600;
}